RECAPTCHA_SITE_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
RECAPTCHA_SECRET='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

EMAIL_SERVICE='gmail'
EMAIL_USERNAME='tilkopog@gmail.com'
EMAIL_PASSWORD='xxxx xxxx xxxx xxxx'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_DEBUG=true
EMAIL_LOGGER=true

CONTACT_EMAIL_TO='tilen.pogacnik@ropecess.eu'
SPACENET_EMAIL_TO='tilen.pogacnik@ropecess.eu'

LOG_LEVEL=debug